body {
    background-color: rgb(231, 218, 233);
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 7px;
    border-bottom: 2px solid black;
}
.header a {
    color: white;
}
.header_logo{
    width: 150px;
}
h1,h2{
    justify-self: center;

}

.header_link, .panier_compte {
    padding-top: 20px;
    
}
header a {
    font-size: 27px;
    padding: 10px;
    text-decoration: none;

}

header a:hover {
    text-decoration: underline;
    font-size: 27px;
    padding: 10px;
}

.panier_compte {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* PARTIE CART/PANIER */
.offcanvas-body, .offcanvas-header {
    background-color: rgb(200, 164, 233);
}
.cart_card {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 25px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    border: 1px blue solid;
}

.add_more_product {
    padding-left: 10px;
    display: flex;
}
.add_more_product button {
    border-radius: 25px;
    width: 35px;
    height: 35px;
}
.add_more_product button:hover {
    background-color: rgb(175, 177, 179);
}

.cart_card_img{
    display: flex;
    width: 120px;
    margin: 5px;
    border-radius: 25px;
    border: 1px solid black;
}

.cart_card_img img {
    margin: auto;
    border-radius: 25px;
}
.cart_card_2nd_part{
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cart_card_2nd_part p {
    padding: 5px 10px 5px 10px;
}

.cart_card_3rd_part {
        display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart_card_3rd_part button{
    width: 11px;
    padding-left: 50px;
    border: none;
    background-color: aliceblue ;
}
.cart_card_3rd_part button:hover {
    border-bottom: 1px solid black;
    padding-left: 50px;
    right: 0;
}

/* PARTIE PAIEMENT */

.finalise_order {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    margin: auto;
    border-radius: 25px;
    height: 40px;
    width: 300px;
}

.finalise_order:hover{
}

.finalise_order h4 {
    padding-top: 3px;
}





/* PARTIE WELCOME TEXT */
.welcome_text {
    height: 60vh;
    width: 60%;
    margin: auto;display: flex;
    flex-direction: column;
}
.welcome_text h1 {
    text-align: center;
    padding: 15px;
    font-size: 62px;
}

.welcome_text h2 {
    text-align: center;
    padding: 15px;
}


.welcome_text p {
    font-size: 25px;
    text-align: center;
}

/* PARTIE CHOIX AFFICHAGE */
.type_affichage {
    width: 90%;
    margin: auto;
    border-top: solid 0.1px ;
    border-bottom: solid 0.1px ;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;

}

.type_affichage img {
    padding: 10px;
}

/* PARTIE PARTIE_PRODUIT */
.partie_produit {
    display: flex;
}


/* PARTIE CATEGORIE */
.categorie {
    font-size: 25px;
    width: 500px;
}
.categorie button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.recherche_categorie {
    width: 100%;
    box-sizing: border-box;

}

.categorie input{
height: 38px;
}

.categorie button input{
    width: 32px;
}


.button div {
    display: flex;
}

/* PARTIE PRODUIT */

.produit {
    border: solid 1px;
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    margin: 30px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-around;
}

.card {
    display: block;
    margin: auto;
    height: 370px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(214, 205, 218);
    border-radius: 15px;
    box-shadow: -5px 7px rgb(145, 142, 142)  ;
    ;
}
.card img {
    width: 17vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 25px;
    max-width: 100%;
}

.card button {
    background-color: rgb(180, 76, 163);
    padding: 7px;
    width: 100%;
    border-radius: 25px;
    border: 1px rgb(180, 76, 163) solid;
    color: white;
    margin-top: 10px;

}

.card button:hover {
    background-color: rgb(228, 131, 215);
    border: 1px rgb(180, 76, 163) solid;
}

.card .prix {
    font-weight: bold;
    margin-top: 5px;
}

.card_info {
    margin: 5px 0 ;
}

.card_info h4, .prix {
    padding-left: 10px;
    margin: 0;
}