body {
    background-color: rgb(231, 218, 233);
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
}
h1,h2{
    justify-self: center;
}

header a {
    padding: 10px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}
/* PARTIE CART/PANIER */
.offcanvas-body, .offcanvas-header {
    background-color: rgb(200, 164, 233);
}
.cart_card {
    height: 150px;
    display: flex;
    justify-content: space-between;
    border: 1px blue solid;
}

.add_more_product {
    display: flex;
}
.add_more_product button {
    border-radius: 25px;
    width: 35px;
    height: 35px;
}
.add_more_product button:hover {
    background-color: rgb(175, 177, 179);
}




/* PARTIE WELCOME TEXT */
.welcome_text {
    width: 60%;
    margin: auto;
}

/* PARTIE CHOIX AFFICHAGE */
.type_affichage {
    width: 90%;
    margin: auto;
    border-top: solid 0.1px ;
    border-bottom: solid 0.1px ;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;

}

.type_affichage img {
    padding: 10px;
}

/* PARTIE PARTIE_PRODUIT */
.partie_produit {
    display: flex;
}


/* PARTI CATEGORIE */
.categorie {
    width: 300px;
}
.categorie button {
    display: flex;
    justify-content: space-between;
    width: 270px;
}
.recherche_categorie {
    width: 270px;
    box-sizing: border-box;

}

/* PARTIE PRODUIT */

.produit {
    border: solid 1px;
    width: 100%;
    margin: 30px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-around;
}

.card {
    margin: auto;
    height: 370px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(214, 205, 218);
    border-radius: 15px;
    box-shadow: -5px 7px rgb(145, 142, 142)  ;
    ;
}
.card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 25px;
}

.card button {
    background-color: rgb(180, 76, 163);
    padding: 7px;
    width: 100%;
    border-radius: 25px;
    border: 1px rgb(180, 76, 163) solid;
    color: white;
    margin-top: 10px;

}

.card button:hover {
    background-color: rgb(228, 131, 215);
    border: 1px rgb(180, 76, 163) solid;
}

.card .prix {
    font-weight: bold;
    margin-top: 5px;
}

.card_info {
    margin: 5px 0 ;
}

.card_info h4, .prix {
    padding-left: 10px;
    margin: 0;
}