body {
    background-color: rgb(231, 218, 233);
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
}
h1,h2{
    justify-self: center;
}

header a {
    padding: 10px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

/* PARTIE WELCOME TEXT */
.welcome_text {
    width: 60%;
    margin: auto;




}

